form{
    width: 30%;
    margin-left: 35%;
    background-color: black ;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.user-log-in{
    text-align: center;
    margin-top: 20px;
}
.submit-btn{
    margin-left: 30%;
    
}
.submit{
    padding: 7px 60px;
    border-radius: 5px;
}
.forget-password {
    text-decoration: none;
    margin-left: 35%;
    margin-top: 10px;
    color: white;
    opacity: 0.4;
}
.header-three{
    margin-left: 32%;
    padding-top: 8%;
}
.icon-content{
    padding-top:5% ;
}
.google{
    font-size: 1.5rem;
}
h5{
    padding-left: 10px;
}



/* media queary */
@media screen and (max-width:576px) {
    form{
        width: 100%;
        margin-left: 0;
    }
}


@media screen and (min-width:577px) and (max-width:820px) {
    form{
        width: 100%;
        margin-left: 0;
    }
    .submit-btn {
        margin-left: 40%;
    }
    .forget-password{
        margin-left: 42%;
    }
}