/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* navbar section */
.border-search{
    border: 1px solid blue;
    padding: 5px 25px;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(106, 106, 238);
}
.border-search:hover{
    background-color:crimson;
    border: none;
}
.probase{
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}
.list-nav{
    font-size: 1.2rem;
    font-weight: 700;
}
.nav-hover:hover{
    color: orangered;
}

/* slider section */
.position-by{
    position: absolute;
    bottom: 40%;
}
.carousel-control-prev-icon{
    color: red;
}
.image-opacity{
    opacity: 0.5;
    /* background-color: rgba(0, 0, 0, 0.502); */
    background-color: rgba(0, 0, 0, 0.61);
}
.get-start{
    padding: 7px 50px;
    font-size: 1.5rem;
    color: white;
}

/* courses section start */
.title-of-courses {
    text-align: center;
}

.paragraph-of-courses {
    text-align: center;
    
}
.margin-start{
    margin-left: 10%;
}
.see-more-Corses {
    padding: 10px 40px;
    font-size: 1.2rem;
    background-color: rgb(77, 77, 231);
    font-weight: 700;
    border: none;
    color: white;
    border-radius: 6px;
}

.see-more-Corses a {
    text-decoration: none;
    color: white;
}

/* third Sections */
small {
    opacity: 0.4;
}

.lates-background {
    background-color: rgb(199, 241, 234);
}

/* forth section */
.regi-section{
    background-color: rgb(13, 110, 253);
    color: white;
    margin-top: 10%;
}
.registerd-now a {
    text-decoration: none;
}

.registerd-now {
    padding: 13px 50px;
    border: none;
    color: rgb(126, 126, 255);
    background-color: white;
    border-radius:10px ;
}




















/*====================================
================media query==============
============================= */
@media screen and (max-width:576px) {
    .position-by {
            position: absolute;
            top: 5%;
        }
        .probase{
            font-size: 1rem;
        }
        .image-opacity{
            height: 300px;
        }
        /* corses */
        .img-fluid{
            width: 350px;
        }
        
}
/* courses section start */
    .title-of-courses{
        text-align: center;
    }
    .paragraph-of-courses{
        text-align: center;
        /* display: none; */
        font-size: 5px;
    }
.margin-start {
    margin-left: 0;
}
/* forth section */
/* .registerd-now-main {
    margin-left: 0;
} */
/* ===============================
==========tablet-view ===================
=========================*/
@media screen and (min-width:577px) and (max-width:820px) {
    .position-by {
            position: absolute;
            top: 5%;
        }
    
        .probase {
            font-size: 1rem;
        }
    
        .image-opacity {
            height: 300px;
        }
        .margin-start {
            margin-left: 10%;
        }
}